/* --------------
   Typography
------------- */

li {
  font-size: 20px;
}

/* --------------
   Layout
------------- */

body {
  width: 900px;
}

section {
  border: 3px solid black;
}

.first-para {
  color: red;
}

.second-para {
  color: blue;
}
#nav-btn {
  cursor: pointer;
}

img {
  border: 2px solid red;
}
